<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Actor Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <style media="screen">
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 30px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 30px;
      line-height: 30px; /* Vertically center the text there */
      background-color: #f5f5f5;
    }

    </style>
  </head>
  <body style='background-color:black;'>
     {{{body}}}
    <footer class="footer">
     <div class="container">
       <span class="text-muted">footer.</span>
     </div>
   </footer>
        {{#if showTests}}
              <div id="mocha"></div>
              <script src="/vendor/mocha.js"></script>
              <script src="/vendor/chai.js"></script>
              <script>
                 mocha.ui('tdd');
                 var assert = chai.assert;
             </script>
             <script src="/qa/test-global.js"></script>
             {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
             {{/if}}
             <script>mocha.run();</script>
      {{/if}}
      <script src="//code.jquery.com/jquery-2.0.2.min.js"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  </body>
</html>
