<!doctype html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <style>
       
       body, html {
         width: 100%;
         height: 100%;
         color: white;
       }
       h1 {
         font-family: 'Cinzel', serif;
       }

       h2 {
         margin-left: 1em;
       }


       h3 {
         margin-left: 1em;
       }

       p {
         font-family: "Cinzel", serif;
         font-color: white;
         font-size: 20px;
         margin-left: 1em;

       a {
         color: white;
       }

    </style>


  <body style='background-color:black; color:white;'>

     {{{body}}}
    <footer class="footer">
     <div class="container">
       <span class="text-muted">footer.</span>
     </div>
    </footer>


    <h1><center> About LunaMista </center></h1>

    <br>

  </body>
</html>
