<style>
body {
  background: url("img/cinema4.jpeg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.b {
 border: 1px solid black;
 background: rgba(13,13,13,.0);
 box-shadow: 0px 10px 50px black;
}
</style>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">
var doesEmailAlreadyExist = true;
$(document).ready(function() {
  $('#submit_btn').hide();
     $('input').change(function(e) {
         if ($('#first_name').val() && $('#last_name').val() && $('#email').val() && $('#password').val() && $('#sex').val() && validateEmail($('#email').val())) {
            console.log("True", doesEmailAlreadyExist);
             if(doesEmailAlreadyExist){
               $('#submit_btn').hide();
             }else {
               $('#submit_btn').show();
             }
         }
     });
  $("#password").focus();
  $("#pwd_box").click(function(){
    if ($("#pwd_box").is(":checked")){
       $("#password").clone()
       .attr("type", "text").insertAfter("#password")
       .prev().remove();
    }else{
       $("#password").clone()
       .attr("type","password").insertAfter("#password")
       .prev().remove();
    }
  });
});
function validateEmail (email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
};
function checkEmail() {
  var email = document.getElementById("email").value;
  if(email) {
    $.ajax({
      type: 'post',
      url: '/check_email',
      data: {
       email:email,
      },
      success: function (response) {
       $('#email_status').html(response);
       console.log(response);
       if(response){
        console.log("Email is good", doesEmailAlreadyExist);
        doesEmailAlreadyExist = true;
        return true;
       }
       else {
        console.log("False", doesEmailAlreadyExist);
        doesEmailAlreadyExist = false;
        return false;
       }
      }
    });
  }
  else {
    $( '#email_status' ).html("");
    return false;
  }
}
function checkall() {
   var emailhtml=document.getElementById("email_status").innerHTML;
   if((emailhtml) == "OK"){
    return true;
   }
   else{
    return false;
   }
}
</script>
<body>
  <center><h3>Create Account</h3>
  <div class="container b">
    <form action="/addUser"  method="POST">
      <div class="form-group col-md-4">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
      </div>

      <div class="form-group col-md-4">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
      </div>

      <div class="form-group col-md-4">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" onchange="checkEmail();">
        <span class="" id="email_status" style='color:red; font-weight:bold;'></span>
      </div>

      <div class="form-group col-md-4">
        <label for="password">Password:</label>
        <input type="PASSWORD" class="form-control" id="password" name="password">
        <input type="checkbox" id="pwd_box" class=""> Show password
      </div>

      <div class="form-group col-md-4">
        <label for="sex">Sex:</label>
        <input type="text" class="form-control" id="sex" name="sex">
      </div>

      <div class="form-group col-md-4">
        <input type="submit" class="btn primary" id="submit_btn">
      </div>
  </form>
  <br>
  </div>
</body>
