<center><h3>User Information</h3>
<div class="container">
  <p>The form below is for the user to edit their personal info</p>
  <form action="/addUser"  method="POST">

    <div class="form-group col-md-4">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" id="first_name" name="user[first_name]">
    </div>

    <div class="form-group col-md-4">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" id="last_name" name="user[last_name]">
    </div>

    <div class="form-group col-md-4">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" name="user[usr_name]">
    </div>

    <div class="form-group col-md-4">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="user[email]">
    </div>

    <div class="form-group col-md-4">
      <label for="home_phone">Home Phone:</label>
      <input type="tel" class="form-control" id="home_phone" name="user[home_phone]">
    </div>

    <div class="form-group col-md-4">
      <label for="cell_phone">Cell Phone:</label>
      <input type="tel" class="form-control" id="cell_phone" name="user[cell_phone]">
    </div>

    <div class="form-group col-md-4">
      <label for="address">Address:</label>
      <input type="text" class="form-control" id="address" name="user[address]">
    </div>

    <div class="form-group col-md-4">
      <input type="submit" class="btn primary">
    </div>
</center>
<!--
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <p class="font-weight-bold">Upload Picture</p>
      <span class="btn btn-primary btn-file">
       <span class="fileupload-new">Select Picture</span>
       <span class="fileupload-exists">Change</span>
       <input name="pic" type="file" />
      </span>
      <span class="fileupload-preview"></span>
    </div>

  <p class="font-weight-bold">Emergency Contact</p>

    <div class="form-group col-md-4">
      <label for="e_name">Name:</label>
      <input type="text" class="form-control" id="e_name" name="e_name">
    </div>

    <div class="form-group col-md-4">
      <label for="e_phone">Phone:</label>
      <input type="tel" class="form-control" id="e_phone" name="e_phone">
    </div>

  <br>

  <p class="font-weight-bold">Core</p>
  
      <div class="form-group col-md-4">
        <label for="union_status">Union Status:</label>
        <input type="text" class="form-control" id="union_status" name="union_status">
      </div>

      <div class="form-group col-md-4">
        <label for="union_num">Union #:</label>
        <input type="text" class="form-control" id="union_num" name="union_num">
      </div>

      <div class="form-group col-md-4">
        <label for="sel1">Ethnicity: </label>
          <select class="form-control" id="race" name="race">
            <option>American Indian or Alaskan Native</option>
            <option>Asian or Pacific Islander</option>
            <option>Black or African American</option>
            <option>Hispanic</option>
            <option>White, non-Hispanic</option>
          </select>
      </div>

      <div class="form-group col-md-4">
        <label for="dob">Date of Birth:</label>
        <input type="date" class="form-control" id="dob" name="birth">
      </div>

      <div class="form-group col-md-4">
        <label for="gender">Gender:</label>
        <label class="checkbox-inline">
          <input type="checkbox" value="male" name="male">Male
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="Female" name="female">Female
        </label>
      </div>

      <div class="form-group col-md-4">
        <label for="sel1">Hair Color: </label>
          <select class="form-control" id="hair_color" name="hair_color">
            <option>Brown</option>
            <option>Blonde</option>
            <option>Black</option>
            <option>Grey</option>
            <option>Red</option>
            <option>Bald</option>
            <option>Other</option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <label for="sel1">Hair Length: </label>
          <select class="form-control" id="hair_length" name="hair_length">
            <option>Short</option>
            <option>Medium</option>
            <option>Long</option>
            <option>Other</option>
          </select>
      </div>
           <div class="form-group col-md-4">
        <label for="sel1">Eye Color: </label>
          <select class="form-control" id="eye" name="eye">
            <option>Amber</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Gray</option>
            <option>Green</option>
            <option>Hazel</option>
            <option>Other</option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <label for="city">Location:</label>
        <input type="text" class="form-control" id="city" name="city">
      </div>

      <div class="form-group col-md-4">
        <label for="citizen">US Citizen:</label>
        <label class="checkbox-inline">
          <input type="checkbox" value="true" name="citizen_yes">Yes
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="false" name="citizen_no">No
        </label>
      </div>

      <p class="font-weight-bold">Measurements</p>
      <div class="form-group col-md-4">
        <label for="height">Height:</label>
        <input type="text" class="form-control" id="height" name="height">
      </div>

      <div class="form-group col-md-4">
        <label for="weight">Weight:</label>
        <input type="number" class="form-control" id="weight" name="weight">
      </div>

      <div class="form-group col-md-4">
        <label for="shoe_size">Shoe Size:</label>
        <input type="text" class="form-control" id="shoe_size" name="shoe_size">
      </div>

      <div class="form-group col-md-4">
        <input type="submit" class="btn primary">
      </div>
-->
</form>
<br>
</div>
