{{#if adminlogin}}
<div class="" style="width:1000px; margin: 0 auto;">
  <div class="" style="width:100%; height:30px; line-height:30px;">
    <div class="" style="float:right;"> Welcome {{admin}}!<span style="margin-left:30px;"><a href="logout">Logout</a></span></div>
  </div>
  <table>
    <tr><td><a href="search">Search</a></td></tr>
    <tr><td><a href="history">Search History</a></td></tr>
    <tr><td><a href="#creatnewaccount">Create Account for a user</a></td></tr>
    <tr><td><a href="#">Create Account for an Admin</a></td></tr>
  </table>
</div>
   {{else}}
 <h1>sorry, you are not allowed to view this page now, please log in </h1>
{{/if}}
