<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="navbar-brand">Welcome Admin</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin_search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add User</a>
      </li>
        <li class="nav-item">
         <a class="nav-link" href="/admin-mail-page">Send Mail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
      <form>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">Name:</label>
          <div class="col-sm-3">
            <input type="email" class="form-control" id="colFormLabel" name="fname" placeholder="First">
          </div>
          <div class="col-sm-3">
            <input type="email" class="form-control" id="colFormLabel" name="lname" placeholder="Last">
          </div>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Coat Size:</label>
          <div class="col-sm-1">
            <input type="number" class="form-control" id="colFormLabel" name="coat_size_min" placeholder="Min">
          </div>
          <div class="col-sm-1">
            <input type="number" class="form-control" id="colFormLabel" name="coat_size_max" placeholder="Max">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">Age:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="age_min" placeholder="Min">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="age_max" placeholder="Max">
          </div>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Dress Size:</label>
          <div class="col-sm-1">
            <input type="number" class="form-control" id="colFormLabel" name="dress_size_min" placeholder="Min">
          </div>
          <div class="col-sm-1">
            <input type="number" class="form-control" id="colFormLabel" name="dress_size_max" placeholder="Max">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">Weight:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="weight_min" placeholder="Min">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="weight_max" placeholder="Max">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">Height:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="height_min" placeholder="Min">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="height_max" placeholder="Max">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Shoe Size:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="shoe_size_min" placeholder="Min">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="shoe_size_max" placeholder="Max">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">City</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="colFormLabel" name="city" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-1 col-form-label">State</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="colFormLabel" name="state" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Car Year:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="car_year_min" placeholder="Min">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="colFormLabel" name="car_year_max" placeholder="Max">
          </div>
        </div>
         <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
