<h2>To Display The Users info after logging in</h2>

<div id="display_user)info">
  <ul class="navbar-nav">
    {{#each row}}
      <li>
        <a>{{item}}</a>
      </li>
    {{/each}}
  </ul>
</div>
