  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title>edit</title>
  <style>
  body {
    background: url("img/cinema4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  .box {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 20px;
    box-shadow: 0px 10px 50px black;
    cursor: pointer;
    overflow-y: scroll;
    height: 680px;
    margin-top: 2%;
    width: 600px;
  }
  hr {
    border: 1px solid grey;
    width: 500px;
  }
  label {
    font-size: 2em;
  }
  h3 {
  color:black;
 }
.font {
width: 200px;
height: 200px;
border: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
}
  </style>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="box">
      <h3><i class="fa fa-cogs" aria-hidden="true"></i> Customize your App</h3>
      <hr>
      <p>Personalize your app here.</p>
      <form method="POST" action="/edit_page">
        <div class="form-group">
          <label for="name">Name your App</label>
          <input type="text" name="app_name" class="form-control" placeholder="Name Me!" id="name">
        </div>
        <div class="form-group">
          <label for="intro">Introduce your App</label>
          <input type="text" name="app_intro" class="form-control" placeholder="Introduce Me!" id="intro">
        </div>
	  <div class="form-group">
    <label for="aboutarea">About your App</label>
    <textarea name = "app_about" class="form-control" id="aboutarea" placeholder="in couple words write about your app." rows="3"></textarea>
  </div> 
       <!-- <div class="form-group">
          <label for="font_pic">Choose Font Picture</label>
          <input type="file" name = "font_photo" class="form-control-file" id="font_pic">
        </div> --> 
          <button type="submit" class="btn btn-primary">Apply Changes</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</body>

