<style>

.b {
 border: 1px solid black;
 background: rgba(13,13,13,.0);
 box-shadow: 0px 10px 50px black;
 min-height: 300px;
}
</style>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#submit_btn").click(function(){
    if($("#email1").val().trim().length>0){
      $.ajax({
        type: 'POST',
        url: '/check-email',//forgot_pwd_reset
        data: {
        email:$("#email1").val(),
      },
      success: function (response) {
        if(response.success){
          $("#find-account").hide();
          $("#reset").show();
          $("#message").html(response.success.first_name+" We Found your account and an email was send to you to reset your password");
          $.ajax({
            type: 'POST',
            url: '/send-password-reset',//forgot_pwd_reset
            data: {
            target_email:response.success.email,
            id:response.success.id
          },
          success: function (response) {
            console.log(response);
            if(response.success){

            }
          }
        });
        }
      }
    });
    }
  });
});
</script>
<body>
  <center>
    <br>

  <div class="container b">
    <div id="find-account">
      <form action="/login"  method="POST">
        <div class="form-group col-md-9">
          <h3>Find Your Account</h3>
          <label for="email1" style='text-align:left;'>Please enter your email to search for your account.</label>
          <input type="email" name ="email"class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
          <span class="" id="email_status" style='color:red; font-weight:bold;'></span> <br>
          <span class="" id="login_message" style='color:blue; font-weight:bold;'></span>
          <!--<span class="" id="submit_message" style='color:red; font-weight:bold;'><br><a href="addUser">**Click Here to Create Account**</a></span>-->
        </div>

        <div class="form-group col-md-4">
          <input type="button" class="btn primary" id="submit_btn" value="Search"> <br>
        </div>
    </form>
    </div>
    <div id="reset" style='display:none;'>
      <h3>Reset Your PassWord</h3>
      <p id='message'>Please enter your email to search for your account.</p>
    </div>
  <br>
  </div>
</body>
