<style>
body {
  background: url("img/cinema4.jpeg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.b {
 border: 1px solid black;
 background: rgba(13,13,13,.0);
 box-shadow: 0px 10px 50px black;
}
</style>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

  // Disable autocomplete on email for now since it does work for checking email with ajax function
  // $('#email').attr('autocomplete','off');

  $('#submit_btn').attr("disabled","disabled");
  $('input').on('keyup change', function(e) {
    if (e.which == 220) return false;
    var email = $('#email').val();
    if (email) {
      $.ajax({
        type: 'post',
        url: '/validate_email',
        data: {
          email:email,
      },
      success: function (response) {
        console.log(response);
        $('#email_status').html(response);
        if(response){
	           $('#submit_btn').attr("disabled","disabled");
          return false;
        }
        else {
       	  $('#submit_btn').removeAttr("disabled");
          $('#submit_message').hide();
          return true;
        }
      }
    });
    }else {
      $('#email_status').html("");
      $('#submit_btn').attr("disabled","disabled");
      $('#submit_message').show();
      return false;
    }
  });
});

</script>
<body>
  <center><h3>Forgot Password</h3><br>
  <div class="container b">
    <form action="/forgot"  method="POST">
      <div class="form-group col-md-4">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email"> <br><br>
        <span class="" id="email_status" style='color:red; font-weight:bold;'></span>
      </div>

      <div class="form-group col-md-4">
        <input type="submit" class="btn primary" id="submit_btn" value="Send"> <br>
        <span class="" id="submit_message" style='color:red; font-weight:bold;'>**Enter Email to Enable Send Button**</span>
      </div>
  </form>
  <br>
  </div>
</body>
