<style>
        body {
                background: url("img/cinema3.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                color: white;
        }
        .content {
                padding-top: 5%;
        }
        .box {
                border: 1px solid white;
                background: rgba(13,13,13,.7);
                color: white;
                width: 400px;
                height: 565px;
                margin-top: 5%;
		padding-top: 5%;
        }
</style>
<!--<div class="" style="width:400px;  min-height: 100%; min-height: 100vh; display: flex; align-items: center; margin:0 auto; ">
-->

<div class = 'container box justify-content-center'>
<form action="/login" method="post">
<div class="form-group">
 <label for="email1">Email address</label>
 <input type="email" name ="email"class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
</div>
<div class="form-group">
 <label for="password1">Password</label>
 <input type="password" name ="password" class="form-control" id="password1" placeholder="Password">
</div>
<<<<<<< HEAD
<a href="/forgot">Forgot password?</a><br><br>
=======
<a href="forgot">Forgot password?</a><br><br>
>>>>>>> d87dc9cae6413e7f7149072a35cb78b84a71c88b
<button type="submit" class="btn btn-primary">Log In</button>
</form> <br>
<div class="form-row">
</div>
<br>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
{{#if pass_email}}
   $("#email1").css({"border":"1px solid red"});
   {{else}}
   $("#email1").css({"border":"1px solid black"});
{{/if}}
{{#if pass_password}}
   $("#password1").css({"border":"1px solid red"});
   {{else}}
   $("#password1").css({"border":"1px solid black"});
{{/if}}
</script>
