<head>
   <title>LunaMista</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
   <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
   <!-- <link rel="stylesheet" href="css/style.css"> -->
 <style>

  /* body, html {
        width: 100%;
        height: 100%;
        color: white;
  } */

  .brandName {
        font-family: 'Alegreya', serif;
        font-size: 3em;
  }
  h1 {
        font-family: 'Cinzel', serif;
  }
  .t {
        font-family: 'Contrail One', cursive;
  }

  a {
       color: white;
  }
  .jumbotron {
	background: rgba(13,13,13,.0);
	background: transparant;
  padding-top: 10%;
  color: white;
  }
.box {
 border: 1px solid black;
 background: rgba(13,13,13,.7);
 box-shadow: 0px 10px 50px black;
}
  </style>
  </head>

<body>
  <div class="container" >
    <div class="row justify-content-center text-center ctn" >
  		<div class="col-sm-12" >
  			<div class="jumbotron justify-content-center text-center" >
  				<div class="box">
          	<h1 id="project_name2"></h1>
          	<p class="lead t" id="project_intro"></p>
          	<hr class="my-4">
          	<p class="lead">
            	<a class="btn btn-outline-info btn-lg" href="addUser">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            	<a class="btn btn-outline-secondary btn-lg" href="home-login">Log In <i class="fa fa-user" aria-hidden="true"></i></a>
          	</p>
        	 </div>
  			</div>
  		</div>
  	</div>
  </div>
</body>
