<!doctype html>
<html>
 <head>
   <title>LunaMista</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
   <link rel="stylesheet" href="css/style.css">
 <style>
  body {
         background: url("img/cinema4.jpeg");

         background-position: center;
         background-repeat:no-repeat;
         background-size: cover;
  }

  body, html {
        width: 100%;
        height: 100%;
        color: white;
  }

  nav {
        height: 75px;
  }

  .brandName {
        font-family: 'Alegreya', serif;
        font-size: 3em;
  }

  h1 {
        font-family: 'Cinzel', serif;
  }

  .t {
        font-family: 'Contrail One', cursive;
  }

  hr {
        color: white;
        background-color: white;
        width: 500px;
        height: 3px;
  }

  a {
       color: white;
  }

  .jumbotron {
       background: rgba(13,13,13,.5);
       background: transparent;
       padding-top: 10%;
       color: white;
  }

  </style>
  </head>

<body>
  <div class="row justify-content-center text-center ctn">
    <div class="col-sm-12">
      <div class="jumbotron jumbotron-fluid justify-content-center text-center">
        <h1 class="display-2">LunaMista</h1>
        <p class="lead t">Create Your Vision In Downtown Pittsburgh.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-outline-info btn-lg" href="/addUser">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a>
          <a class="btn btn-outline-secondary btn-lg" href="/login">Log In <i class="fa fa-user" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
