<head>
  <title>Resetting Password</title>
</head>
<body>
   <form method="POST" action="/resetpassword">
     <div>
       New Password
     </div>
     <div>
       <input type="password" name="Password">
     </div>
     
     <div>
       Confirm Password
     </div>
     <div>
       <input type="password" name="Confirm">
     </div>
      
     <div>
       <input type="submit" value="Reset Password">
     </div>
   </form>
</body>

