<style>
body {
  background: url("img/cinema4.jpeg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.b {
 border: 1px solid black;
 background: rgba(13,13,13,.0);
 box-shadow: 0px 10px 50px black;
}
</style>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

  $("#password1").focus();
  $("#pwd_box1").click(function(){
    if ($("#pwd_box1").is(":checked")){
      $("#password1").clone()
      .attr("type", "text").insertAfter("#password1")
      .prev().remove();
    }else{
      $("#password1").clone()
      .attr("type","password").insertAfter("#password1")
      .prev().remove();
    }
  });

  $("#password2").focus();
  $("#pwd_box2").click(function(){
    if ($("#pwd_box2").is(":checked")){
      $("#password2").clone()
      .attr("type", "text").insertAfter("#password2")
      .prev().remove();
    }else{
      $("#password2").clone()
      .attr("type","password").insertAfter("#password2")
      .prev().remove();
    }
  });

  // $('#submit_btn').attr("disabled","disabled");

  $('#password2').focusout(function(){
      var password1 = $('#password1').val();
      var password2 = $('#password2').val();
      if(password1 != password2){
          alert('the passwords didn\'t match!');
      }
      else if (password1.length <=0 && password2.length <=0) {
        console.log('the passwords didn\'t match!');
      }
      else{
        console.log("passwords match, do the reset");
        $('#reset_pwd').on('submit', function(e) {
          // if (e.which == 220) return false;
          var email = $('#email').val();
          var password = $('#password1').val();
          if (email && password) {
            $.ajax({
              type: 'post',
              url: '/reset',
              data: {
                email:email,
                password:password
              },
            success: function (response) {
              console.log(response);
            }
          });
          }else {

          }
        });
    }
  });
});

</script>
<body>
  <center><h3>Forgot Password</h3><br>
  <div class="container b">
    <form action="/reset"  method="POST" id="reset_pwd">
      <div class="form-group col-md-4">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email"> <br><br>
        <span class="" id="email_status" style='color:red; font-weight:bold;'></span>
      </div>
      <div class="form-group col-md-4">
        <label for="password1">Password:</label>
        <input type="PASSWORD" class="form-control" id="password1" name="password1">
        <input type="checkbox" id="pwd_box1" class=""> Show password
      </div>

      <div class="form-group col-md-4">
        <label for="password2">Password:</label>
        <input type="PASSWORD" class="form-control" id="password2" name="password2">
        <input type="checkbox" id="pwd_box2" class=""> Show password
      </div>

      <div class="form-group col-md-4">
        <input type="submit" class="btn primary" id="submit_btn" value="Submit"> <br>
        <span class="" id="submit_message" style='color:red; font-weight:bold;'>**Enter Email to Enable Submit Button**</span>
      </div>
  </form>
  <br>
  </div>
</body>
