
{{#if admin }}
<div id="result_container" style="width:1000px; margin: 0 auto; display:none; color:white;">
  <center><h3>Search Results</h3></center>
  <div class="">
      <h6 id="heading_title" style="float:left"></h6>
  </div>
  <table style="width:100%;">

  </table>
  <br>
  <div class="">
    <label for="text_area">Message:</label><br>
    <textarea name="text" rows="8" cols="80" id='text_area' placeholder="Please type the message you would like to send here."></textarea>

  </div>
   <div id="btn_div" ></div>

</div>
<div class="container" id='search_container'style="width:1000px; margin: 0 auto;">
<center><h3>Search</h3></center>
<form  id="searchForm" action="/search_database" method="post">
  <div class="form-group col-md-3">
    <label for="search_title" class="col-form-label">Search Title:</label>
    <input type="text" class="form-control" id="search_title" placeholder="title" name="search_title">
  </div>
  <h6 data-target='name'>Name:</h6>
  <div class="search_toggle_divs" id='name'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="First name" name="first_name">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Last name" name="last_name">
      </div>
    </div></div>

  <h6 data-target='phone'>Phone:</h6>
  <div class="search_toggle_divs" id='phone'>
    <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="home Phone" name="home_phone">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Cell Phone" name="cell_phone">
      </div>
    </div>
  </div>
  <h6 data-target='address'>Address:</h6>
  <div class="search_toggle_divs" id='address'><div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control"  placeholder="Street" name="street">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control"  placeholder="City" name="city">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id='inputState' placeholder="State" name="state">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control"  placeholder="zip" name="zip">
    </div>
  </div></div>

  <h6 data-target='emergency_contacts' >Emergency Contact:</h6>
  <div class="search_toggle_divs" id='emergency_contacts'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Name" name="emergency_contact_name">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Cell Phone" name="emergency_contact_number">
      </div>
    </div></div>

  <h6 data-target='location'>Location:</h6>
  <div class="search_toggle_divs" id='location'><input type="text" class="form-control col-md-3"  placeholder="Location" name="location"></div>

    <h6 data-target='union'>Union Info:</h6>
    <div class="search_toggle_divs" id='union'><div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Union status" name="union_status">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Union #" name="union_number">
      </div>
    </div></div>

    <h6 data-target='ethnicity'>Ethnicity:</h6>
    <div class="search_toggle_divs" id='ethnicity'>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id='ethnicity_options' name="ethnicity">
        <option selected></option>
      </select>

    </div>

    <h6 data-target='haircolor'>Hair Color:</h6>
    <div class="search_toggle_divs" id='haircolor'>  <input type="text" class="form-control col-md-3"  placeholder="Hair Color" name="hair_color"></div>

    <h6 data-target='hairtype'>Hair Type:</h6>
    <div class="search_toggle_divs" id='hairtype'><input type="text" class="form-control col-md-3"  placeholder="Hair Type" name="hair_type"></div>

     <h6 data-target='tattoos'>Tattoos </h6>
     <div class="search_toggle_divs" id='tattoos'><input type="text" class="form-control col-md-3"  placeholder="Tattoos" name="tattoos"></div>

      <h6 data-target='piercing'>Piercing </h6>
      <div class="search_toggle_divs" id='piercing'> <input type="text" class="form-control col-md-3"  placeholder="Piercing" name="piercing"></div>

     <h6 data-target='facialhair'>Facial Hair </h6>
     <div class="search_toggle_divs" id='facialhair'><input type="text" class="form-control col-md-3"  placeholder="Facial Hair" name="facial_hair"></div>

      <h6 data-target='eyes'>Eyes </h6>
      <div class="search_toggle_divs" id='eyes'> <input type="text" class="form-control col-md-3"  placeholder="Eyes" name="eyes"></div>

       <h6 data-target='us_citizen'>US citizen </h6>
       <div class="search_toggle_divs" id='us_citizen'><input type="text" class="form-control col-md-3"  placeholder="US citizen" name="us_citizen"></div>

  <h6 data-target='dob'>D.O.B:</h6>
  <div class="search_toggle_divs" id='dob'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="date" class="form-control" name="birthday_min" >
      </div>
      <div class="form-group col-md-3">
        <input type="date" class="form-control"  name="birthday_max">
      </div>
    </div></div>

  <h6 data-target='sex'>Sex:</h6>
  <div class="search_toggle_divs" id='sex'><input type="text" class="form-control col-md-3" id="sex_field" placeholder="Sex" name="sex"></div>

  <h6 data-target='weight'>Weight:</h6>
  <div class="search_toggle_divs" id='weight'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Min" name="weight_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  placeholder="Max" name="weight_max">
      </div>
    </div></div>

  <h6 data-target='height'>Height:</h6>
  <div class="search_toggle_divs" id='height'>  <div class="form-row">
      <div class="form-group col-md-3">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id='heightMinOptions' name="height_min">
          <option selected ></option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id='heightMaxOptions' name="height_max">
          <option selected></option>
        </select>
      </div>
    </div></div>

  <h6 data-target='shoe_size'>Shoe size:</h6>
  <div class="search_toggle_divs" id='shoe_size'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="shoe_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="shoe_max">
      </div>
    </div></div>

  <h6 data-target='jacket'>Jacket size:</h6>
  <div class="search_toggle_divs" id='jacket'><div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="jacket_min">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="jacket_max">
    </div>
  </div></div>

  <h6 data-target='dress'>Dress size:</h6>
  <div class="search_toggle_divs" id='dress'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="dress_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="dress_max">
      </div>
    </div></div>

  <h6 data-target='chest'>Chest size:</h6>
  <div class="search_toggle_divs" id='chest'><div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="chest_min">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="chest_max">
    </div>
  </div></div>

  <h6 data-target='hip'>Hip size:</h6>
  <div class="search_toggle_divs" id='hip'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="hip_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="hip_max">
      </div>
    </div></div>

  <h6 data-target='waist'>Waist size:</h6>
  <div class="search_toggle_divs" id='waist'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="waist_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="waist_max">
      </div>
    </div></div>

  <h6 data-target='bust'>Bust size:</h6>
  <div class="search_toggle_divs" id='bust'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="bust_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="bust_max">
      </div>
    </div></div>

  <h6 data-target='inseam'>Inseam size:</h6>
  <div class="search_toggle_divs" id='inseam'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="inseam_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="inseam_max">
      </div>
    </div></div>

  <h6 data-target='neck'>Neck size:</h6>
  <div class="search_toggle_divs" id='neck'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="neck_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="neck_max">
      </div>
    </div></div>

  <h6 data-target="sleeve">Sleeve size:</h6>
  <div class="search_toggle_divs" id='sleeve'><div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="sleeve_min">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="sleeve_max">
    </div>
  </div></div>

  <h6 data-target='hat'>Hat size:</h6>
  <div class="search_toggle_divs" id='hat'>  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="hat_min">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="hat_max">
      </div>
    </div></div>
  <h6 data-target='car_year'>Car Year:</h6>
  <div class="search_toggle_divs" id='car_year'><div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputFirstName" placeholder="Min" name="car_year_min">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputLastName" placeholder="Max" name="car_year_max">
    </div>
  </div></div>

  <h6 data-target='car_make'>Make of Car:</h6>
  <div class="search_toggle_divs" id='car_make'>
     <input type="text" class="form-control col-md-3"  placeholder="Make of Car" name="make_car">
  </div>

  <h6 data-target='car_color'>Car Color:</h6>
  <div class="search_toggle_divs" id='car_color'>
     <input type="text" class="form-control col-md-3"  placeholder="Car Color" name="car_color">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form><br><br>
</div>
<script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
$("#search_container h6").click(function(){
   $("#"+this.dataset.target).toggle("fast");
   $("#"+this.dataset.target+" input").val("");
   $("#"+this.dataset.target+" select").val("");
});
  $("#inputState").autocomplete({
  source: utility.states
});
utility.giveHeightToDropdown("heightMaxOptions");
utility.giveHeightToDropdown("heightMinOptions");
utility.giveEtnicityToDropdown("ethnicity_options");

$('#searchForm').on('submit', function(evt){
  evt.preventDefault();
  $.ajax({
      url: "/search_database",
      type: 'POST',
      data: $(this).serialize(),
      success: function(data){
          if(data.success){
             console.log('response: ',data.success);
             showResult(data.success,data.title);
          }else{
            console.log(' There was a problem.');
           }
      },
      error: function(){
         //$ container.html(' There was a problem.');
         console.log("error");
       }
 });
});

function toggleResultAndSearch(view){
  if(view ==="result"){
    $("#search_container").hide();
    $("#result_container").show();
  }else{
    $("#search_container").show();
    $("#result_container").hide();
  }
}
function showResult(result,theTitle){
  var title = theTitle;
  var actor_ids =[];
  if(result){
    var button_save = $("<button type='button' name='button' style='cursor:pointer;'>Save</button>");
    var button_send = $("<button type='button' name='button' style='cursor:pointer;'>Send Email</button>");
    $("#btn_div").append(button_save,button_send);
  }
  $("#heading_title").html("Title: "+ title);
    $("#result_container table").append("<tr style='background-color:darkgrey;'><td class='result_table_hearding' style='text-align:center;'>First Name</td><td class='result_table_hearding style='text-align:center;''>Last Name</td><td class='result_table_hearding' style='text-align:center;'>Email</td></tr>");
    for (elt in result){
      actor_ids.push(result[elt].id);
      $("#result_container table").append("<tr style='background-color:grey; border-bottom:1px solid lightgrey; color:black;'><td class='result_table_row'>"+result[elt].name+"</td><td class='result_table_row'>"+result[elt].last_name+"</td><td class='result_table_row'>"+result[elt].email+"</td></tr>");
    }
     toggleResultAndSearch("result");
     button_save.click(function(){
       var data = {actor_ids:actor_ids, message:$("#text_area").val(),title:title};
       console.log(data);
       $.ajax({
           url: "/save_search",
           type: 'POST',
           data: data,
           success: function(data){
               if(data.success){
                  console.log('response: ',data.success);
               }else{
                 console.log(' There was a problem.');
                }
           },
           error: function(){
              //$ container.html(' There was a problem.');
              console.log("error");
            }
      });
     });

     button_send.click(function(e){
        console.log("sending");
     });
}

</script>

  {{else}}
  <center><h1>You are not allowed on this page, Please login as an admin</h1></center>
{{/ if}}
