<center>
  <div class="container">
    <div class="alert alert-succes">
      <strong>Success!</strong> Your Information has been Successfully added! Please follow buton to contiune.
    </div>
</div>
  <div>
    <a class="btn btn btn-success" href="/login">Continue<i class="fa fa-user-plus" aria-hidden="true"></i></a>
  </div>
</center>
